// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.hd-bg{
    .hd-top{
        border-bottom: 1px solid #ccc;
        @include grid(flex, $flex-wrap: wrap, $justify-content: space-between, 
          $align-items: center, $gutter: null);
        min-height: 40px;
        &__left{
            @include grid(flex, $flex-wrap: null, $justify-content: null, 
              $align-items: center, $gutter: null);
            @include flex(1);
            p{
                margin-bottom: 0;
                @include setFont(14px, #666);
                i{
                    margin-right: 10px;
                }
                @include doubly(){
                    margin-left: 15px;
                }
            }
        }
    }
    .hd-bot{
        .d-flex{
            @include justify-content(space-between);
        }
        &__left{
            text-transform: uppercase;

            @include grid(inline-flex, $flex-wrap: wrap, $justify-content: space-between, 
              $align-items: center, $gutter: null);

            img{
                height: 110px;
            }
            div{
                margin: 0 27px;
                text-align: center;

                @include flex(1);
                h5{
                    @include setFont(28px, #f00, 900);
                    margin-bottom: 3px;
                }
                p{
                    @include setFont(22px, #666, 700);
                    margin-bottom: 0;
                }
            }
        }
    }
}
.hd-hotline{
    @include grid(inline-flex, $flex-wrap: wrap, $justify-content: null, 
      $align-items: center, $gutter: null);
    img{
        margin-right: 18px;
    }
    div{
        span{
            display: block;
            @include setFont(14px, #333, 500);
        }
        a{
            display: block;
            line-height: 1;
            margin-top: 2px;
            @include setFont(26px, #f00, 700);
        }
    }
}
