// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.hd{
    @include bg("hd.jpg",$background-repeat: no-repeat,$background-size: cover,$background-position: 0 0);
    &-flex{
        min-height: 120px;
        @include grid(flex, $flex-wrap: wrap, $justify-content: space-between, 
          $align-items: null, $gutter: null);
    }
    &-info{
        @include grid(inline-flex, $flex-wrap: wrap, $justify-content: center, 
          $align-items: center, $flex-direction: column);
        p{
            @include setFont(14px, #333, 400, $font-text);
            span{
                i{
                    color: $theme-color;
                    margin-right: 5px;
                }
                &+span{
                    margin-left: 27px;
                }
            }
        }
    }
    &-hotline{
        @include grid(inline-flex, $flex-wrap: wrap, $justify-content: null, 
          $align-items: flex-end);
        margin-bottom: 12px;
        section{
            @include grid(flex, $flex-wrap: nowrap, $justify-content: space-between, 
              $align-items: center, $gutter: null);
            min-height: 46px;
            padding: 3px 15px 3px 3px;
            background-color: $theme-color;
            border-radius: 30px;
            img{

            }
        }
        &__info{
            margin-left: 10px;
            span{
                @include setFont(14px, #fff, 400, $font-text);
                display: block;
                line-height: 1;
            }
            strong{
                @include setFont(20px, #fff, 900, $font-text);
                display: block;
                line-height: 1;
            }
        }
    }
}
.logo{
    @include grid(inline-flex, $flex-wrap: wrap, $justify-content: space-between, 
      $align-items: center, $gutter: null);
    img{
        height: 95px;
    }
}
.banner{
    img{
        height: 80px;
    }
}