// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
%idx-tit {} 
%idx-tit-line {
    content: "";
    background: url($images-url + "idx-l.png");
    @include box(134px, 7px);
    @include relative($bottom: -5px);
}
%idx-tit-css {
    position: relative;
    margin-bottom: 70px;
    h4 {
        @include setFont(30px, $theme-color, 700);
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        margin: 0;

        span, a {
            color: $theme-color;
            display: inline-block;
            position: relative;
        }
    }
    @include p-el(before, $el-width: 128px, $el-height: 20px){
      @include bg("idx-tit.png",$background-repeat: no-repeat,$background-size: null,$background-position: 0 0);
      @include absolute($left: 50%, $bottom: -30px);
      margin-left: -64px;
    };
}
.idx-tit{
    @extend %idx-tit-css;
}
.dmsp{
    padding: 50px 0;
    &.even{
        background-color: #f1f1f1;
    }
}
$product-gutter: percentage(20/1200);
.tienich-item{
    @include grid-col($col: 4, $grid-columns: 12, $gutter: $product-gutter);
    a{
        display: block;
        position: relative;
        figure{
            display: block;
            overflow: hidden;
            position: relative;
            padding-top: percentage(440/600);
            border: 1px solid #d9d9d9;
            margin-bottom: 0;
            img{
                @extend %img-fill; 
                object-fit: cover;
                object-position: top center;
            }
        }
        h5{
            width: 100%;
            @include setFont(14px, #fff, 700, $font-text);
            @include absolute($left: 0px, $bottom: 0px);
            margin-bottom: 0;
            padding: 12px;
            @include background-opacity(#000, $opacity: 0.6);
            text-align: center;
        }
    }
}
.xemthem{
    text-align: center;
    a{
        @include setFont(14px, #fff, 700, $font-text);
        @include transition(all 0.2s ease);
        display: inline-block;
        background-color: #f00;
        border: 2px solid #f00;
        padding: 0px 30px;
        line-height: 40px;
        @include on-event(){
            background-color: #fff;
            color: #f00;
        };
    }
}