  $pro-gutter: percentage(34/1200);
.product-grid {
  @include grid(flex, $flex-wrap: wrap, $justify-content:null, $align-items:null, $gutter:$pro-gutter);

}
.spnoibat-main{
  padding: 0 -17px;
}
.slick-box-item {
    padding: 0 17px;
}
  .pr-box {
    @include grid-col($col: 3, $grid-columns:12, $gutter:$pro-gutter);
    @include when-inside(".owl-item"){
        margin: 0;
        padding: 0 2*$pro-gutter;
    }
    @include when-inside('.slick-box-item'){
        // float: none;
        margin: 0;
        width: 100%;
    }
    .sp {
      border: 1px solid #dadada;
      border-bottom-width: 3px;
      display: block;
      background-color: #f7f7f7;
        padding-bottom: 20px;
      .info-sp {
        .pic-sp {
          position: relative;
          padding-top: percentage(273/239);
          background-color: #fff;
          img {
            @extend %img-fill;
            object-fit: scale-down;
            object-position: center center;
            z-index: 0;
          }
          .desc-sp {
            @include absolute($top: -100%, $left:0px);
            @include box(100%, 100%);
            @include setFont(13px, #333);
            opacity: 0;
            background: rgba(255, 255, 255, 0.9);
            z-index: 1;
            text-align: left;
            line-height: 20px;
            border: 1px solid #eee;
            padding: 10px;
          }
        }
        .name-sp {
          @include setFont(14px, #000, 400);
          padding: 15px 12px 5px 12px;
        }
      }
      .price-sp {
        padding: 0px 12px;

        .price-old-sp {
          b {
          }
        }
        .price-new-sp {
          @include setFont(18px, #f00, 700, $font-SFUTradeGothicBoldCondensedTwenty);

          b {
          }
        }
      }
      @include on-event() {
        .info-sp {
          .pic-sp {
            .desc-sp {
              top: 0px;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .owl-product-type{
    margin: 0 -10px;
  }